main .AboutUsPanel {
  position: relative;
  padding-top: 0;
  width: 100%;
  z-index: 1;
  background-color: #252525;
}

main .AboutUsPanel > img {
  object-fit: cover;
  height: 100vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Rectangle 33 */

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

main .AboutUsPanel > .Above {
  z-index: 2;
  position: absolute;
  width: 90%;
  height: 87.5vh;
  top: 5%;
  left: 5%;
  background-color: #ffffff;
  background-color: #ffffffb2;
  backdrop-filter: blur(10px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

main .AboutUsPanel > .Above > .container {
  width: 50%;
  height: 75%;
}

main .AboutUsPanel > .Above > .container > p {
  overflow: scroll;
  width: auto;
  height: 50%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

main .AboutUsPanel > .Above > img {
  width: 33%;
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .AboutUsPanel > .Above > .container > h3 {
  font-family: "DaggerSquare", sans-serif;
  font-size: 40px;
  text-align: left;
  color: var(--color-primary);
  font-style: italic;
  font-weight: 400;
  margin-bottom: 5rem;
}

main .AboutUsPanel > .Above > .container > p {
  font-family: "Techovier", sans-serif;
  font-size: 14px;
  text-align: left;
  font-style: italic;
  font-weight: 100;

  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}

main .WhoIsItFor {
  flex-flow: row-reverse wrap;
}

main .WhoIsItFor > .Text {
  width: 60%;
}

main .ItsPart {
  width: 90%;
  flex-flow: column wrap;
  align-items: baseline;
}

main .ItsPart > h2 {
  font-family: "DaggerSquare", sans-serif;
  color: var(--color-primary);
  font-size: 40px;
  font-style: italic;
  margin-bottom: 0.5rem;
}

main .ItsPart > p {
  font-family: "Interstate-light", sans-serif;
  color: var(--color-primary);
  font-size: 14px;
  font-style: normal;
}

form > .Form-Info {
  width: 35%;
  margin: 2rem 2rem;
}
form > .Form-Info > div {
  width: 100%;
  height: 70%;
  color: white;
}

.Form-Info > div > h3 {
  font-family: "DaggerSquare", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.Form-Info > div > ul {
  font-family: "Interstate-light", sans-serif;
  padding: 0 1rem;
}

.Form-Info > div > ul > li {
  font-size: 14px;
  font-weight: lighter;
  padding: 3px 1px;
}

.Form-Info > div > p {
  font-family: "Interstate-light", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
}

.Form-Info > div > h3 > a {
  color: var(--color-primary);
}

form > .Form-Text > .form-link {
  font-family: "DaggerSquare-Oblique", sans-serif;
  font-size: 20px;
  color: var(--color-primary);

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: end;
  gap: 4rem;
}

form > .Form-Text > .form-link > h4 > a {
  color: var(--color-quaternary);
  text-decoration: none;
}

form > .Form-Text > .btn-submit {
  background-color: var(--color-quaternary);
  text-align: center;
  padding: 1.25rem 5rem;
  font-family: "DaggerSquare-Oblique", sans-serif;
  font-size: 20px;
  border-radius: 7px;
  color: white;
}

main .ButtomPicture {
  width: 100%;
  display: flex;
  padding-top: 10rem;
  align-items: center;
  justify-content: center;
}

main .ButtomPicture img {
  height: auto;
  width: 80%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
