.Product-Item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 95%;

  justify-content: flex-start;
}

.Product-Item > section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  gap: 1rem;
  width: 100%;
  padding-bottom: 2rem;
}

.Product-Item > h3 {
  font-family: "Interstate-Regular", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 32px;
}

.Product-Item > section > div {
  position: relative;
  box-shadow: 2.5px 5px 10px rgb(0, 0, 0, 0.15);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.Product-Item > section > div > img {
  width: 300px;
  height: 450px;
}

.Product-Item > section > div > button {
  position: absolute;
  top: 95%;
  padding: 1rem 1.5rem;
  background-color: black;
  font-family: "Interstate-Regular", sans-serif;
  color: white;
}
