main .HomePage {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: first baseline;
  justify-content: flex-start;
  width: 100%;
  padding-top: 0;
  background-color: #252525;
}

main .HomePage > img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 915px;
}

main .HomePage .Above {
  position: absolute;
  left: 0;
  z-index: 2;
}

main .HomePage .Above .text {
  position: absolute;
  width: auto;
  height: max-content;
  top: 0;
  z-index: 1;
}

main .OurBoss {
  flex-flow: row-reverse wrap;
}

main .OurBoss > img {
  border-radius: 50%;
}

main .DoYouWant {
  flex-flow: column wrap;
  justify-content: start;
  align-items: self-start;
  padding: 0 5rem;
  padding-bottom: 10rem;
}

main .DoYouWant h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 64px;
}

main .DoYouWant .text {
  display: flex;
  width: 45%;
  flex-flow: column wrap;
}
main .DoYouWant .text p {
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  text-align: justify;
  color: #000000;
}
main .DoYouWant > .text > .btn {
  justify-content: end;
}

main .Others {
  padding-top: 1rem;
  flex-flow: column wrap;
  width: 100%;
}

main .Others h2 {
  font-family: "DaggerSquare", sans-serif;
  font-size: 24px;
  text-align: center;
  color: var(--color-primary);
}
.Others > ul {
  justify-content: space-evenly;
  margin-top: 4rem;
}

.Others > ul > li {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.Others > ul li img {
  width: 70px;
}

.Others > ul > li > h5 {
  font-family: "DaggerSquare", sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  color: var(--color-primary);
}
